.App {
  text-align: center;
}

.App-header {
  padding: 0.3rem;
  padding-left: 0.7rem;
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* font-size: calc(8px + 1vmin); */
  font-size: 1.2rem;
  color: white;
}

.App-header a {
  color: rgb(171, 227, 241);
  text-decoration: underline;
}

.App-header a:visited {
  color: rgb(171, 227, 241);
}